<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="DynamicJson" version="1.2.0.0" targetFramework="net46" />
  <package id="ExcelDna.AddIn" version="1.0.0" targetFramework="net46" />
  <package id="ExcelDna.Integration" version="1.0.0" targetFramework="net46" />
  <package id="log4net" version="2.0.8" targetFramework="net46" />
  <package id="Microsoft.AspNet.WebApi.Client" version="5.2.7" targetFramework="net46" />
  <package id="NetOffice.Core" version="1.7.4.4" targetFramework="net46" />
  <package id="NetOffice.Excel" version="1.7.4.4" targetFramework="net46" />
  <package id="System.Collections" version="4.3.0" targetFramework="net46" />
</packages>