@charset "UTF-8";


/*  reset
-----------------------------------------------------*/
html, body, div, span,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}

article, aside, figcaption, figure,
footer, header, section {
    display: block;
}

html {
    min-height: 100%;
    position: relative;
}
/*  header
-----------------------------------------------------*/
header {
	width: 920px;
	margin: 0 auto;
}
header p {
	padding: 0.5rem;
}

/*  Container
-----------------------------------------------------*/

.container {
    padding: 15px;
    margin-right: auto;
    margin-left: auto;
    width: 1140px;
}

.btn_print {
    display: block;
    float: right;
    margin: 12px 0 0 0;
    background-image: url("../image/common/btn_print.gif");
    width: 60px;
    height: 24px;
    text-indent: -9999px;
}
/*  footer
-----------------------------------------------------*/
.copy {
    padding: 35px 0;
    text-align: center;
    border-bottom: 12px solid #003366;
    font-size: 90%;
    color: #990000;
    position: absolute;
    width: 100%;
    bottom: 0;
    background-color: white;
}

#visual {
    background: #6ebefc;
}

    #visual h1, #visual p {
        padding: 0rem 0;
        text-align: center;
    }

    #visual p {
        width: 610px;
        margin: 0 auto;
        line-height: 1.0;
        font-size: 108%;
        color: #fff;
    }

    #visual .visual-inner {
        padding: 1.0rem 0 1.0rem;
    }

body {
    line-height: 1;
    font-family: メイリオ, Meiryo, "ヒラギノ角ゴProN W3", "Hiragino Kaku Gothic ProN", sans-serif;
    font-size: 14px;
    margin: 0px 0px 20px 0px;
    color: #555;
}

p {
    margin: 0;
}

ol, ul {
    list-style: none;
}

h1, h2, h3, h4, h5, h6 {
    font-size: 100%;
    font-weight: normal;
    margin: 0;
}

b, strong {
    font-weight: bold;
}

#header {
    background: #990000;
    padding: 4.0rem 0;
    background-size: cover;
    text-align: center;
}

#footer {
    padding: 16px 0;
    text-align: center;
    border-bottom: 12px solid #003366;
    font-size: 90%;
    color: #990000;
    position: absolute;
    width: 100%;
    bottom: 0;
    background-color: white;
}

#container {
    margin-top: 40px;
    margin-bottom: auto;
}

#container-inner {
    width: 80%;
    margin: auto;
}

    #container-inner h1 {
        margin-bottom: 20px;
        position: relative;
        border-bottom: solid 2px #003366;
        border-left: solid 0.7em #003366;
        padding: 0.2em 0.7em;
        font-size: 1.4em;
        font-weight: bold;
    }

/*-----ボタンcontainer-----*/
.btn-container {
    text-align: right;
    padding: 0 0 40px 0;
}

    .btn-container button {
        margin: 0 0 0 10px;
    }

.btn-left {
    float: left;
}

.btn-right {
    float: right;
}

/*----- フォームcontainer -----*/
.form-container {
    margin-bottom: 20px;
}

.section-container {
    margin-bottom: 20px;
}

    .form-container p, .section-container p {
        font-weight: bold;
    }

.form-container .attention {
    display: block;
    margin-left: 20px;
    padding: 5px;
}

    .form-container .attention span {
        margin: 0;
        padding-left: 20px;
    }

/*----- ボタン -----*/
button {
    font-weight: normal;
    text-align: center;
    vertical-align: middle;
    touch-action: manipulation;
    cursor: pointer;
    background-image: none;
    border: 1px solid transparent;
    white-space: nowrap;
    line-height: 1.5;
    border-radius: 4px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    font-family: inherit;
    font-size: inherit;
}

    button.btn-submit {
        width: 100px;
        border-color: #be952c #a68226 #9b7924;
        background: #eeba37;
        color: #333;
        background-image: -webkit-linear-gradient(#fee6b0 0%,#eeba37 100%);
        background-image: linear-gradient(#fee6b0 0%,#eeba37 100%);
    }

        button.btn-submit:hover {
            border-color: #a98527 #917221 #86691f;
            background-image: -webkit-linear-gradient(#fede97 0%,#ecb21f 100%);
            background-image: linear-gradient(#fede97 0%,#ecb21f 100%);
            background-color: #eeba37;
        }

        button.btn-submit:active {
            border-color: #9b7924 #a68226 #a68226;
            background-color: #eeba37;
            background-image: none;
            -moz-box-shadow: rgba(0,0,0,0.2) 0 1px 3px inset;
            -webkit-box-shadow: rgba(0,0,0,0.2) 0 1px 3px inset;
            box-shadow: rgba(0,0,0,0.2) 0 1px 3px inset;
        }

        button.btn-submit:focus {
            outline: none;
            border-color: #e47911;
            -moz-box-shadow: rgba(228,121,17,0.5) 0 0 3px;
            -webkit-box-shadow: rgba(228,121,17,0.5) 0 0 3px;
            box-shadow: rgba(228,121,17,0.5) 0 0 3px;
        }

    button.btn-submit-gray {
        width: 100px;
        border-color: #bcc1c8 #bababa #adb2bb;
        background-color: #d8dde6;
        color: #333;
        box-shadow: rgba(255,255,255,0.6) 0 1px 0 inset;
        background-image: linear-gradient(#f7f8fa 0%,#e7e9ec 100%);
    }

        button.btn-submit-gray:hover {
            border-color: #aeb4bd #adadad #9fa5af;
            background-image: -webkit-linear-gradient(#fede97 0%,#ecb21f 100%);
            background-image: linear-gradient(#e7eaf0 0%,#d9dce1 100%);
        }

        button.btn-submit-gray:active {
            border-color: #adb2bb #bababa #bababa;
            background-color: #e7e9ec;
            background-image: none;
            -moz-box-shadow: rgba(0,0,0,0.2) 0 1px 3px inset;
            -webkit-box-shadow: rgba(0,0,0,0.2) 0 1px 3px inset;
            box-shadow: rgba(0,0,0,0.2) 0 1px 3px inset;
        }

        button.btn-submit-gray:focus {
            outline: none;
            border-color: #e47911;
            -moz-box-shadow: rgba(228,121,17,0.5) 0 0 3px;
            -webkit-box-shadow: rgba(228,121,17,0.5) 0 0 3px;
            box-shadow: rgba(228,121,17,0.5) 0 0 3px;
        }

/*----- テキストボックス -----*/
input {
    border: 0;
    padding: 0.2em 0.5em;
    font-family: inherit;
    font-size: inherit;
    vertical-align: middle;
    border: solid 1px #ccc;
    border-radius: 4px;
    -moz-box-shadow: inset 0 0 4px rgba(0,0,0,0.2);
    -webkit-box-shadow: inset 0 0 4px rgba(0, 0, 0, 0.2);
    box-shadow: inset 0 0 4px rgba(0, 0, 0, 0.2);
}

    input:focus {
        border: solid 1px #e77600;
        -moz-box-shadow: 0 0 5px rgba(78,191,233,0.8);
        -webkit-box-shadow: 0 0 5px rgba(78,191,233,0.8);
        box-shadow: 0 0 3px 2px rgba(228,121,17,.5);
    }

    /*テキストボックス(placeholder)*/
    input::-webkit-input-placeholder {
        color: #aaa;
    }

    input:-ms-input-placeholder {
        color: #aaa;
    }

    input::-moz-placeholder {
        color: #aaa;
    }

/* テーブル */
table.main-table {
    width: 100%;
    margin: 10px 0 30px 0;
    border-collapse: separate;
    border-spacing: 0;
    text-align: left;
    line-height: 1;
    border-top: 1px solid #ccc;
    border-left: 1px solid #ccc;
}

    table.main-table th {
        width: auto;
        padding: 10px 10px;
        font-weight: bold;
        text-align: left;
        vertical-align: middle;
        border-right: 1px solid #ccc;
        border-bottom: 1px solid #ccc;
        border-top: 1px solid #fff;
        border-left: 1px solid #fff;
        background: #eee;
    }

    table.main-table td {
        width: auto;
        padding: 10px;
        vertical-align: middle;
        border-right: 1px solid #ccc;
        border-bottom: 1px solid #ccc;
    }

        table.main-table td ul {
            margin: 0;
            padding-left: 20px;
        }

        table.main-table td li {
            margin: 5px 0;
        }

/*ご注意事項*/
.message {
    font-size: 0.95em;
    margin: 30px 0;
    padding: 15px;
    border: solid #ccc 1px;
    border-radius: 20px;
    -moz-box-shadow: inset 0 0 4px rgba(0,0,0,0.4);
    -webkit-box-shadow: inset 0 0 4px rgba(0, 0, 0, 0.4);
    box-shadow: inset 0 0 4px rgba(0, 0, 0, 0.4);
}

    .message h2 {
        font-size: 1.1em;
        border-left: solid 5px #003366;
        padding-left: 7px;
        margin: 0 0 10px 0;
        font-weight: bold;
    }

    .message th {
        padding-left: 20px;
    }

    .message td {
        padding: 5px 10px 5px 0px;
    }

/***-----汎用-----***/
/*汎用（margin）*/
.mt10 {
    margin-top: 10px;
}

.mt20 {
    margin-top: 20px;
}

.mt30 {
    margin-top: 30px;
}

.ml10 {
    margin-left: 10px;
}

.ml20 {
    margin-left: 20px;
}

.ml30 {
    margin-left: 30px;
}

.mb10 {
    margin-bottom: 10px;
}

.mb20 {
    margin-bottom: 20px;
}

.mb30 {
    margin-bottom: 30px;
}

.mr10 {
    margin-right: 10px;
}

.mr20 {
    margin-right: 20px;
}

.mr30 {
    margin-right: 30px;
}

/* 汎用（width） */
.width-auto {
    width: auto !important;
}

.w50 {
    width: 50px;
}

.w100 {
    width: 100px;
}

.w200 {
    width: 200px;
}

/*汎用(text-align)*/
.ta-l {
    text-align: left;
}

.ta-c {
    text-align: center;
}

.ta-r {
    text-align: right;
}

/*汎用(float解除)*/
.clear {
    clear: both;
}

/*必須項目*/
.required:after {
    content: "*";
    color: #bd530b;
    font-size: 1.1em;
}

/*画面上部エラーメッセージ*/
.validation-summary-errors {
    font-size: 0.95em;
    color: #b50d0d;
    margin: 10px 10px 20px 10px;
    padding: 10px;
    background: #ffe9e9;
    border: solid #bd2d2d 1px;
    -moz-box-shadow: inset 0 0 4px rgba(0,0,0,0.4);
    -webkit-box-shadow: inset 0 0 4px rgba(0, 0, 0, 0.4);
    box-shadow: inset 0 0 4px rgba(0, 0, 0, 0.4);
}

    .validation-summary-errors span {
        height: 1em;
        display: block;
        position: relative;
        padding: 3px 0 0 2em;
        color: #b50d0d;
        font-weight: bold;
        font-size: 1.1em;
    }

        .validation-summary-errors span::after {
            content: '!';
            height: 0px;
            width: 0px;
            display: block;
            position: absolute;
            top: 0px;
            left: 0px;
            border: transparent solid;
            border-bottom-color: #b50d0d;
            border-width: 0px 0.8em 1.6em 0.8em;
            color: #fff;
            font-family: Arial;
            font-weight: bold;
            font-size: 1em;
            line-height: 30px;
            text-indent: -2.5px;
        }

    .validation-summary-errors ul {
        padding-left: 30px;
        margin-bottom: 0px;
    }

    .validation-summary-errors li {
        list-style: none;
    }

.validation-summary-valid {
    display: none;
}

.input-validation-error[type="text"], .input-validation-error[type="password"],
.input-validation-error[type="radio"] {
    background: #ffe9e9;
    outline: dotted 1px red;
}

.msg-red {
    color: red;
}