/*  footer
-----------------------------------------------------*/
.copy {
    padding: 35px 0;
    text-align: center;
    border-bottom: 12px solid #003366;
    font-size: 90%;
    color: #990000;
    position: absolute;
    width: 100%;
    bottom: 0;
    background-color: white;
}

#visual {
    background: #6ebefc;
}

#visual h1, #visual p {
    padding: 0rem 0;
    text-align: center;
}

#visual p {
    width: 610px;
    margin: 0 auto;
    line-height: 1.0;
    font-size: 108%;
    color: #fff;
}

#visual .visual-inner {
    padding: 1.0rem 0 1.0rem;
}

b, strong {
    font-weight: bold;
}

#header {
    background: #990000;
    padding: 4.0rem 0;
    background-size: cover;
    text-align: center;
}

#footer {
    padding: 16px 0;
    text-align: center;
    border-bottom: 12px solid #003366;
    font-size: 90%;
    color: #990000;
    position: absolute;
    width: 100%;
    bottom: 0;
    background-color: white;
}

#container {
    margin-top: 40px;
    margin-bottom: auto;
}

#container-inner {
    width: 80%;
    margin: auto;
}

#contents-inner div.issue div.issue-inner h3{
    font-size: 1.4em;
    font-weight: bold;
    margin-bottom: 20px;
}

#contents-inner div.issue div.issue-inner h4{
    font-size: 1.2em;
    font-weight: normal;
    margin-bottom: 10px;
}


#contents-inner div.issue div.issue-inner p {
    margin: 10px;
}

#contents-inner div.issue div.issue-inner ul {
    list-style: none;
    margin: 10px;
}

